.wheel{
	background:url(../images/styleImages/wheel_bkgd.png) no-repeat top left;
	position:relative;
	width:531px;
	height:552px;
	float:left;
}

.mapArea{
	position:absolute;
	top:0;
	left:0;
	/*border:1px #000 solid;*/
}

.imgMapArea{
	/*border:1px #000 solid;*/
}

.imgMapArea:hover{
	cursor:pointer;
}

.container{
	width: 78px;
	height: 78px;
	position:absolute;
	overflow:hidden;
}

.bubbleContainer{
	width: 82px;
	height: 82px;
	position:absolute;
	overflow:hidden;
	top:47px;
	left:10px;
}

.questionBubble {
	position: absolute;
	top: 0;
	left: 0;
}

.bubbleImage{
	position:absolute;
	width:85%;
	height:auto;
	top:5px;
	left:5px;
}

.bubbleImageHidden{
	display:none;
}

.bubbleImageOverlay{
	position:absolute;
	top:0;
	left:0;
	display:none;
}

.unansweredBubble{
	position:absolute;
	top:0;
	left:0;
}

/* #################### BUBBLE POSITIONING #################### */

#bubbleNumber1Container{
	top: 114px;
	left: 73px;
}

#bubbleNumber2Container{
	top: 115px;
	left: 142px;
}

#bubbleNumber3Container{
	top: 51px;
	left: 164px;
}

#bubbleNumber4Container{
	top: 175px;
	left: 172px;
}

#bubbleNumber5Container{
	top: 115px;
	left: 217px;
}

#bubbleNumber6Container{
	top: 43px;
	left: 235px;
}

#bubbleNumber7Container{
	top: 160px;
	left: 268px;
}

#bubbleNumber8Container{
	top: 92px;
	left: 282px;
}

#bubbleNumber9Container{
	top: 145px;
	left: 335px;
}

#bubbleNumber10Container{
	top: 80px;
	left: 350px;
}

#bubbleNumber11Container{
	top: 375px;
	left: 265px;
}

#bubbleNumber12Container{
	top: 445px;
	left: 265px;
}

#bubbleNumber13Container{
	top: 275px;
	left: 315px;
}

#bubbleNumber14Container{
	top: 343px;
	left: 326px;
}

#bubbleNumber15Container{
	top: 420px;
	left: 330px;
}

#bubbleNumber16Container{
	top: 218px;
	left: 357px;
}

#bubbleNumber17Container{
	top: 300px;
	left: 380px;
}

#bubbleNumber18Container{
	top: 372px;
	left: 388px;
}

#bubbleNumber19Container{
	top: 182px;
	left: 418px;
}

#bubbleNumber20Container{
	top: 251px;
	left: 430px;
}

#bubbleNumber21Container{
	top: 275px;
	left: 35px;
}

#bubbleNumber22Container{
	top: 200px;
	left: 45px;
}

#bubbleNumber23Container{
	top: 335px;
	left: 60px;
}

#bubbleNumber24Container{
	top: 235px;
	left: 110px;
}

#bubbleNumber25Container{
	top: 300px;
	left: 115px;
}

#bubbleNumber26Container{
	top: 370px;
	left: 120px;
}

#bubbleNumber27Container{
	top: 430px;
	left: 125px;
}

#bubbleNumber28Container{
	top: 315px;
	left: 175px;
}

#bubbleNumber29Container{
	top: 385px;
	left: 185px;
}

#bubbleNumber30Container{
	top: 440px;
	left: 190px;
}



#hoverPopUp{
	background:url(../images/styleImages/hoverTop.png) no-repeat top left;
	position:absolute;
	top:0;
	left:0;
	padding-top:8px;
	display:none;
}

#hoverPopUp span{
	color:#FFF;
	background-color:#43296b;
	-moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px;
	-moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px;
	display:block;
	padding:5px;
}
