#modelAccordion{
	width:400px;
	float:left;
	margin-left:40px;
}

.noSkills{
	padding:15px;
	color:#636363;
	font-weight:normal;
}

.underlined{
	text-decoration:underline;
}

#uniform-undefined{
	display:none;
}

.sessionIn{
	display:none;
}

#modelAccordion h3.outer{
	/* fallback/image non-cover color */
	background-color: #4a2d76; 
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
	background-image: -webkit-linear-gradient(top, #4a2d76, #3d2662); 
	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient(top, #4a2d76, #3d2662);
	/* IE 10+ */
	background-image: -ms-linear-gradient(top, #4a2d76, #3d2662);
	/* Opera 11.10+ */
	background-image: -o-linear-gradient(top, #4a2d76, #3d2662);
	/*border:1px #cecece solid;*/
	margin-bottom:-1px;
	color:#f2efea;

}

#modelAccordion h3.headerHover{;
	/* fallback/image non-cover color */
	background-color: #7353a1; 
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
	background-image: -webkit-linear-gradient(top, #7353a1, #60458e); 
	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient(top, #7353a1, #60458e);
	/* IE 10+ */
	background-image: -ms-linear-gradient(top, #7353a1, #60458e);
	/* Opera 11.10+ */
	background-image: -o-linear-gradient(top, #7353a1, #60458e);
	/*border:1px #cecece solid;*/
	margin-bottom:-1px;
	color:#f2efea;
}

#modelAccordion h3.inner, #modelAccordion .sliderContainer{
	background-color: #FFF; 
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
	background-image: -webkit-linear-gradient(top, #FFF, #e6e6e6); 
	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient(top, #FFF, #e6e6e6);
	/* IE 10+ */
	background-image: -ms-linear-gradient(top, #FFF, #e6e6e6);
	/* Opera 11.10+ */
	background-image: -o-linear-gradient(top, #FFF, #e6e6e6);
	clear:both;
}

.ui-accordion-content-active {
  
}

#modelAccordion h3.inner a, #modelAccordion h3.inner span{
	display:inline-block;
	max-width:80%;
}

#modelAccordion h3.inner span{
	display: block; font-size: 1em;
}

#modelAccordion h3.inner span.noSkillsListed{
	display: inline;
}

#modelAccordion h3.inner span.seeDetails{
	display: block; font-size: 1em; padding: 10px 0;
}

#modelAccordion h3 .symbol{
	padding: 10px 10px 0 0;
}

.smallIcon{
	display:none;
}

#modelAccordion h3.whiteGrad{
	background-color: #FFF; 
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
	background-image: -webkit-linear-gradient(top, #FFF, #FFF); 
	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient(top, #FFF, #FFF);
	/* IE 10+ */
	background-image: -ms-linear-gradient(top, #FFF, #FFF);
	/* Opera 11.10+ */
	background-image: -o-linear-gradient(top, #FFF, #FFF);
}

#modelAccordion h3 a{
	text-decoration:none;
}

#modelAccordion h3.outer a{
	color:#FFFFFF;
}

#modelAccordion h3#want a{
	background: url(../images/styleImages/accordionHeaderOrange.png) no-repeat bottom left;
}

#modelAccordion h3#live a{
	background: url(../images/styleImages/accordionHeaderBlue.png) no-repeat bottom left;
}

#modelAccordion h3#know a{
	background: url(../images/styleImages/accordionHeaderGreen.png) no-repeat bottom left;
}

#modelAccordion h3.inner a, #modelAccordion h3.inner span{
	color: #442a6d;
	font-weight: bold;
	font-family: QuicksandBook, sans-serif;
}

#modelAccordion h3.inner.ui-state-active a.accordionLink {
    font-family: QuicksandBold, sans-serif;
}

#modelAccordion .farLeft, #modelAccordion .farRight {
    font-size: 10px;
    width:150px;
}

.sliderContainer {
	background-color:#f3f0eb;
	/*border-bottom:1px #534741 solid;*/
	padding-bottom:10px;
	
	
}

.accordionSlider{
	width:350px;
	margin:0 auto;
}

.sliderContainer p{
	width:358px;
	margin:0 auto;
	font-size: 11px;
}

.innerAccordion .sliderContainer{
	border-left:#cecece;
	border-right:#cecece;
}


.accordion .point{
	position:absolute;
	top:5px;
}

.accordionKnows .marker{
	position:absolute;
	top:15px;
}

.expanded{
	display:none;
}

#know .expanded{
	display:inline;
}

#know .minimised{
	display:none;
}

.expanded, .minimised{
	width: 8px;
}




/*!
 * jQuery UI Accordion 1.8.21
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Accordion#theming
 */
/* IE/Win - Fix animation bug - #4615 */
.ui-accordion { 
	width: 100%;
}
.accordion{
	-moz-box-shadow: 0 0 10px #ccc;
	-webkit-box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 10px #ccc;
}
.ui-accordion .ui-accordion-header { cursor: pointer; position: relative; margin-top: 1px; zoom: 1; }
.ui-accordion .ui-accordion-li-fix { display: inline; }
.ui-accordion .ui-accordion-header-active { border-bottom: 0 !important; }
.ui-accordion .ui-accordion-header a { display: block; font-size: 1em; padding: 10px 5px; }
.ui-accordion-icons .ui-accordion-header a { padding-left: 20px; }
.ui-accordion .ui-accordion-header .ui-icon { position: absolute; left: .5em; top: 50%; margin-top: -8px; }
.ui-accordion .ui-accordion-content { border-top: 0; margin-top: -2px; position: relative; top: 0; margin-bottom: 0; overflow: auto; display: none; zoom: 1; }
.ui-accordion .ui-accordion-content-active { display: block; }

#want { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px; }
#want { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px; }

.innerAccordion  .sliderContainer {
    border: 1px solid #dbdbdb;
	border-top: 0;
}

#modelAccordion h3.whiteGrad {
    border: 1px solid #dbdbdb;
	border-bottom: 0;
}
#modelAccordion h3.inner {
    border: 1px solid #dbdbdb;
    border-bottom: 0;

}
.ui-accordion-header {
/*     border: 1px solid #dbdbdb; */
	border-bottom: 0;
}

#modelAccordion h3.inner:last-of-type {
    border-bottom: 1px solid #dbdbdb;
}

#modelAccordion .farLeft { margin-left: 20px; }
#modelAccordion .farRight { margin-right: 20px; }


.ui-accordion .ui-accordion-header { margin-top: 0; }
.ui-accordion .ui-accordion-content { margin-bottom: 0; }
.outer.ui-accordion-header {  }

/*!
 * jQuery UI Slider 1.8.21
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Slider#theming
 */
 
 /* Component containers
----------------------------------*/

#wants .slider { background:url(../images/styleImages/orangeSlider.png) no-repeat; }
#lives .slider { background:url(../images/styleImages/blueSlider.png) no-repeat; }
#skills .slider, #skillDetail .slider { background:url(../images/styleImages/greenSlider.png) no-repeat; }
.accordionWants .slider{ background:url(../images/styleImages/accordionOrangeSlider.png) no-repeat top left; padding:10px 0;}
.accordionLives .slider{ background:url(../images/styleImages/accordionBlueSlider.png) no-repeat top left; padding:10px 0;}
.accordionKnows .slider{ background:url(../images/styleImages/accordionGreenSlider.png) no-repeat top left; padding:10px 0;}

.ui-widget-content a { color: #222222/*{fcContent}*/; }
.ui-widget-header { border: 1px solid #aaaaaa/*{borderColorHeader}*/; background: #cccccc/*{bgColorHeader}*/ url(images/ui-bg_highlight-soft_75_cccccc_1x100.png)/*{bgImgUrlHeader}*/ 50%/*{bgHeaderXPos}*/ 50%/*{bgHeaderYPos}*/ repeat-x/*{bgHeaderRepeat}*/; color: #222222/*{fcHeader}*/; font-weight: bold; }
.ui-widget-header a { color: #222222/*{fcHeader}*/; }


.ui-slider-handle {
	background:url(../images/styleImages/slideHandlerSprite.png) no-repeat 0 0;
/*border: 1px solid lightGrey;
background: #E6E6E6;
font-weight: normal;
color: #555;*/
}

 
.ui-slider { position: relative; text-align: left; margin-top:10px; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 24px; height: 24px; cursor: pointer; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider-horizontal { height: 7px; }
.ui-slider-horizontal .ui-slider-handle { top: -8px; margin-left: -12px; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }




/* Corner radius */
/*.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }
*/

/*
.slider { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px; }
.slider{ -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.slider { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.slider { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }
*/

.innerAccordion .noradius {
	-moz-border-radius-topleft: none; -webkit-border-top-left-radius: none; -khtml-border-top-left-radius: none; border-top-left-radius: none;
	-moz-border-radius-topright: none; -webkit-border-top-right-radius: none; -khtml-border-top-right-radius: none; border-top-right-radius: none;
	-moz-border-radius-bottomleft: none; -webkit-border-bottom-left-radius: none; -khtml-border-bottom-left-radius: none; border-bottom-left-radius: none;
	-moz-border-radius-bottomright: none; -webkit-border-bottom-right-radius: none; -khtml-border-bottom-right-radius: none; border-bottom-right-radius: none;
}