/* ########## SKILL STYLING ########## */

.skillBlock .centerPartition .related li{
		display:none;
	}
	
.skillBlock .centerPartition .related li .singular, .skillBlock .centerPartition .related li .plural{
		display:none;
	}
	
.submitToFlow{
	display:none;
}

/* ########## SKILL DETAILS STYLING ########## */

/* ########## LEFT HAND SKILL LIST ########## */

	#allSkillList{
		width:320px;
	}
	#allSkillList h3{
		display:inline-block;
		margin:0 5px 15px 0;
	}
	#allSkillList a, .linkBtn{
		/*
color:#268FCC;
		cursor:pointer;
*/
	}
	#allSkillList li{
	   cursor: pointer;
		padding:0 10px;
		line-height:28px;
		width:288px;
		color:#412571;
		/* fallback/image non-cover color */
	   background-color: #F6F6F6; 
	   /* Safari 5.1+, Mobile Safari, Chrome 10+ */
	   background-image: -webkit-linear-gradient(top, #FFF, #F6F6F6); 
	   /* Firefox 3.6+ */
	   background-image: -moz-linear-gradient(top, #FFF, #F6F6F6);
	   /* IE 10+ */
	   background-image: -ms-linear-gradient(top, #FFF, #F6F6F6);
	   /* Opera 11.10+ */
	   background-image: -o-linear-gradient(top, #FFF, #F6F6F6);
	   border:1px #cecece solid;
	   margin-bottom:-1px;
	   word-wrap: break-word;
	}
	
	#allSkillList li.active{
		color:#FFF;
		width:310px;
		background-color:none;
		border:none;
	   background:url(../images/styleImages/purplePointer.png) no-repeat top left;
	}

/* ########## RIGHT HAND SKILL LIST ########## */
	
	.overlayContainer, .saveOverlay{
		position:fixed;
		top:0;
		left:0;
		width:100%;
		height:100%;
		 z-index:1000;
		 background:url(../images/styleImages/overlayBkgd.png);
		 display:none;
		 color:#636363;
	}
	.saveOverlay p{
		text-align:center;
		margin:20px 0;
	}
	.saveOverlay .whiteGrad{
		margin: 150px auto 0 auto;
		width:400px;
		position:relative;
	}
	.saveOverlay .btn.green .l{
		right:60px;;
		left:auto;
		top:5px;
	}
	.navigateAway{
		margin-right:70px;
		color:##268FCC;
	}
	.darkBkgd{
		background: url(../images/styleImages/overlayBkgd.png);
	}
	.overlayContainer th{
		color:#482e77;
	}
	.overlayContainer textarea{
		color:#636363;
	}
	.tabTable{
		width:100%;
		margin-bottom:20px;
	}
	.tabTable td{
		/*padding-bottom:20px;*/
	}
	.tabTable tr{
		border-top:1px #636363 dotted;
		border-bottom:none;
	}
	.tabTable tr.descriptionRow{
		border-top:none;
	}
	.tabTable tr.groupHeading, #companiesTab .tabTable tr.groupHeading{
		border-top:none;
		border-bottom:none;
	}
	#educationTab .tabTable tr{
		border-top:none;
		border-bottom:1px #636363 dotted;
	}
	#skillDetail{
		width:648px;
		margin-left:0;
		background:#FFF;
		border: 1px #CCC solid;
	}
	#skillDetail .leftPartition, #skillDetail .centerPartition, #skillDetail .rightPartition{
		background:none;
		min-height: 140px;
	}
	#skillDetail .sliderBlock{
		width:650px;
	}
	#skillDetail .bubbleContainer {
		top: 37px;
	}
	#skillDetail .centerPartition h3 {
		margin: 15px 0 30px 0;
	}
	#skillDetail .sliderBlock .centerPartition{
		padding:5px 0 5px 6px;
		width: 520px;
	}
	.outerTableHeading{
		color:#636363;
		/* fallback/image non-cover color */
	   background-color: #ececec; 
	   /* Safari 5.1+, Mobile Safari, Chrome 10+ */
	   background-image: -webkit-linear-gradient(top, #ececec, #b8b8b8); 
	   /* Firefox 3.6+ */
	   background-image: -moz-linear-gradient(top, #ececec, #b8b8b8);
	   /* IE 10+ */
	   background-image: -ms-linear-gradient(top, #ececec, #b8b8b8);
	   /* Opera 11.10+ */
	   background-image: -o-linear-gradient(top, #ececec, #b8b8b8);	
	}
	.skillDetailSlider span {
		position: absolute;
		bottom: -25px;
		padding-top: 9px;
		cursor:pointer;
		background: url(../images/styleImages/marker.png) no-repeat top center;
		display: inline-block;
	}
	.outerTable{
		border:1px #ccc solid;
		background:#FFF;
		border-collapse: inherit;
		color:#636363;
		width:610px;
		margin:0 auto;
	}
	textarea{
		color:#636363;
	}
	.outerTable a, .moreOptions{
		color:#268fcc;
	}
	.outerTable a:hover, .moreOptions:hover { color: #4B3273; text-decoration: underline; }
	.moreOptions{
		margin-left:10px;
	}
	#skillDetailsContainer{
		padding-bottom:20px;
	}
	.addSkill{
		margin-right:10px;
	}
	.rowContainer{
		background:url(../images/styleImages/dottedBorder.png) no-repeat bottom center;
	}
	#books .rowContainer{
		background:none;
	}
	.innerTable, .selectMore{
		width:100%;
		margin:20px 0;
	}
	.outerTable th, .outerTable td{
		padding:10px;
	}
	.innerTable td{
		padding:20px 10px 0 10px;
	}
	.innerTable .descriptionRow td{
		padding:0 10px;
	}
	.textareaCell .checkedDetail{
		margin:5px 5px 0 0;
	}
	.outerTable h2{
		display:inline;
		margin-left:10px;
	}
	.addSkill{
		float:right;
	}
	.innerTable th, .innerTable td, .selectMore th, .selectMore td, .tabTable th, .tabTable td{
		/*padding:10px 0;*/
		width:auto;
	}
	.innerTable textarea, .selectMore textarea, .tabTable textarea{
		margin-top:0;
	}
	.textRight{
		text-align:right;
	}
	.pointer{
		cursor:pointer;
	}
	.headerBar{
		padding:10px;
		background-color:#523388;
		color:#FFF;
	}
	.textCell{
		width:110px;
	}
	textarea{
		margin-right:10px;
	}
	.dateField, .dateFrom{
		width:60px;
	}
	.rowTemplate, .notesTemplate{
		display:none;
	}
	.notes{
		/*width:100%;*/
	}
	.selectBtns{
		float:right;
	}
	.selectBtns .cancel, .cancelAdd, .addSkillOption{
		color: #268FCC;
		margin-right:10px;
	}
	/*.textNotes{
		display:none;
	}*/
	.textNotes textarea{
		margin-bottom:20px;
		width:90%;
		min-height:25px;
	}
	#tabs th{
		width:auto;
	}
	#tabs td{
		vertical-align: middle;
	}
	#companiesTab td{
		/*min-width: 188px;*/
	}
	#companiesTab td.dateField{
		min-width: 70px;
	}
	.dateFieldTo{
		display:table-cell;
		vertical-align:middle;
	}
	.dateFieldToText{
		display:block;
		margin-top:20px;
	}
	#coursesTab td{
		min-width: 115px;
	}
	#companiesTab td.currentJob{
		min-width:50px;
		width: auto;
	}
	#companiesTab td.smallWidth{
		min-width: 95px;
	}
	#educationTab td.smallWidth{
		width: 80px;
		padding-right:10px;
	}
	td.dateField{
		/*max-width:70px;*/
		width:70px;
	}
	#education td.dateField{
		width:65px;
	}
	#tabs td.dateTo{
		max-width:100px;
	}
	#companiesTab td.dateWide{
		/*min-width:140px;
		max-width:200px;*/
		width:110px;
	}
	#coursesTab td.dateWide{
		min-width:85px;
		max-width:90px;
	}
	#tabs td.dateTo{
		max-width:100px;
	}
	.dateDouble{
		min-width:140px;
	}
	#tabs td.dateTo label{
		float:left;
	}
	
	#tabs .editButtons{
		max-width:80px;
	}
	textarea{
		width:80%;
		resize: none;
		height:auto;
		overflow:visible;
		min-height:21px;
	}
	#skillDetail textarea{
		resize: none;
	}
	.overlayContainer textarea{
		resize: none;
	}
	#tabs textarea{
		background:none;
		border:none;
		padding-top:10px;
	}
	.spacer{
		margin-right:10px;
	}
	.moreOptions, .selectBtns span, .addSkill{
		cursor:pointer;
	}
	.selectBtns{
		display:none;
	}
	.selectBtns .select, .saveEnabled, .saveAdd{
		color:#FFF;
		background: url(../images/styleImages/button-green.png) left top no-repeat;
		padding:5px 10px;
		-moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px;
		-moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px;
		-moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px;
		-moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px;x;
		
	}
	.saveEnabled{
		margin-top: 15px;
	}
	#tabs textarea.editTextCell{
		background:#FFF;
		border:1px #CCC solid;
	}
	.saveTextCell{
		background:none;
		border:none;
	}
	input{
		margin-top:5px;
	}
	.saveClose{
		width:650px;
		margin:0 auto;
		padding:15px 0;
		text-align:right;
		background-color: #E6E6E6;
		position:absolute;
		bottom:0;
	}
	.overlayContainer .overlayClose { cursor: pointer; }
	.exitSave{
		width:100%;
		margin:0 auto;
		padding:15px 0;
		text-align:right;
		background-color: #E6E6E6;
		position:absolute;
		bottom:-45px;
	}
	.saveAdd{
		margin-right:20px;
	}
	.saveClose span, .addSkillOption{
		cursor:pointer;
		width:100%;
	}
	.addSkillOption{
		background:url(../images/styleImages/addSymbol.png) no-repeat center left;
		padding:5px 0 5px 23px;
	}
	.whiteGrad{
		/* fallback/image non-cover color */
	   background-color: #FFFFFF; 
	   /* Safari 5.1+, Mobile Safari, Chrome 10+ */
	   background-image: -webkit-linear-gradient(top, #FFFFFF, #F5F5F5); 
	   /* Firefox 3.6+ */
	   background-image: -moz-linear-gradient(top, #FFFFFF, #F5F5F5);
	   /* IE 10+ */
	   background-image: -ms-linear-gradient(top, #FFFFFF, #F5F5F5);
	   /* Opera 11.10+ */
	   background-image: -o-linear-gradient(top, #FFFFFF, #F5F5F5);	
	}
	#tabs ul{
		float:left;
		width:635px;
		background-color:#e6e6e6;
		padding:10px 0 0 15px;
	}
	.addRow{
		width:610px;
		margin:0 auto;
		padding-bottom:10px;
		margin-bottom:10px;
	}
	.overlayContainer .ui-widget-header{
		border:none;
	}
	/*.overlayContainer .ui-corner-all{
		border-top-right-radius:none;
		border-top-left-radius:none;
		border-bottom-right-radius:none;
		border-bottom-left-radius:none;
	}*/
	
	.my-profile{
		display:none;
	}
	
	.expand{
		background:url(../images/styleImages/detailExpand.png) no-repeat 5px 5px;
		text-indent:-9999em;
		display:block;
		width:20px;
		margin-right:5px;
		cursor:pointer;
	}
	
	.deleteDetails{
		background:url(../images/styleImages/detailDelete.png) no-repeat center center;
		text-indent:-9999em;
		display:block;
		width:20px;
		margin-right:5px;
		cursor:pointer;
	}
	
	#dialog-confirm{
		display:none;
	}
	
	.linkRight{
		margin:10px 10px 0 0;
	}
	
	.skillDetailNav{
		width:650px;
		float:right;
		margin-top:20px;
	}
	
	#skillDetailsSave{
		float:right;
	}
	
	.noDetail, .noChecks{
		padding:10px;
	}
	
	.displayNone{
		display:none;
	}
	
	.suggestedSkill{
		-moz-user-select: none; 
        -khtml-user-select: none; 
        -webkit-user-select: none; 
        -o-user-select: none;
        cursor:pointer;
	}
	
	.btn.suggestedSkill span{
		
	}
	
	#skillDetail, #allSkillList{
		display:none;
	}
	
	.descriptionRow{
		border-bottom:1px #efefef solid;
		width:100%;
	}
	
	
	
	/* overrides for ui-tab styles */
	#widget-docs ul.ui-tabs-nav { padding:0 0 0 8px; }
	#widget-docs .ui-tabs-nav li { margin:5px 5px 0 0; }
	
	#widget-docs .ui-tabs-nav li a:link,
	#widget-docs .ui-tabs-nav li a:visited,
	#widget-docs .ui-tabs-nav li a:hover,
	#widget-docs .ui-tabs-nav li a:active { font-size:1none; padding:none 1.2em 3px; color:#fff; }
	
	#widget-docs .ui-tabs-nav li.ui-tabs-selected a:link,
	#widget-docs .ui-tabs-nav li.ui-tabs-selected a:visited,
	#widget-docs .ui-tabs-nav li.ui-tabs-selected a:hover,
	#widget-docs .ui-tabs-nav li.ui-tabs-selected a:active { color:#e6820E; }
	
	#widget-docs .ui-tabs-panel { padding:20px 9px; font-size:12px; line-height:1.4; color:#000; }
	
	#widget-docs .ui-widget-content a:link,
	#widget-docs .ui-widget-content a:visited { color:#1b75bb; text-decoration:none; }
	#widget-docs .ui-widget-content a:hover,
	#widget-docs .ui-widget-content a:active { color:#0b559b; }
	
	/*!
 * jQuery UI Tabs 1.8.22
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Tabs#theming
 */
.ui-tabs { zoom: 1; width:650px; background-color:#CCCCCC; min-height:250px; margin:150px auto 0 auto; position:relative; padding-bottom:40px;} /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav { margin: 0; display:block; clear:both;}
.ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 1px;
	margin: 0 .2em 1px 0;
	border-bottom: 0 !important;
	padding: 0 5px;
	white-space:
	nowrap;
	/*width:100px;*/
	overflow:hidden;
	font-size:11px;
}
.ui-tabs .ui-tabs-nav li.active {
	background-color:#FFF;
	-moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px;
}
.ui-tabs .ui-tabs-nav li.active a{
	color:#482E77;
	font-weight:bold;
}
.ui-tabs .ui-tabs-nav li a { float: left; line-height:30px; display:block; width:100%; text-align:center; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 1em 1.4em; background: none; clear:both;}
.ui-tabs .ui-tabs-hide { display: none !important; }




/*!
 * jQuery UI Dialog 1.8.21
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Dialog#theming
 */
.ui-dialog { color:#FFFFFF; background:#412571; position: absolute; padding: .2em; width: 300px; overflow: hidden; }
.ui-dialog .ui-dialog-titlebar { background:#FFF;
	padding: 10px 10px;
	position: relative;
	border-top-left-radius: none;
	border-top-right-radius: none;
	border-bottom-left-radius: none;
	border-bottom-right-radius: none;
}
/*.ui-dialog .ui-corner-all, .ui-dialog .ui-corner-bottom, .ui-dialog .ui-corner-right, .ui-dialog .ui-corner-br{
	border-top-left-radius: none;
	border-top-right-radius: none;
	border-bottom-left-radius: none;
	border-bottom-right-radius: none;
	-khtml-border-bottom-left-radius: none;
	border-bottom-left-radius: none;
}*/
.ui-dialog .ui-dialog-title { display:none; float: left; margin: .1em 16px .1em 0; } 
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-close span { background:url(../images/styleImages/darkCloseBtn.png); text-indent:-9999em; display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog .ui-dialog-content { position: relative; border: 0; padding: .5em 1em; background: none; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: right; }
.ui-dialog .ui-dialog-buttonpane button { margin: .5em .4em .5em 0; cursor: pointer; background:#FFF; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }
.ui-dialog .ui-dialog-titlebar button, .ui-dialog .ui-dialog-titlebar input[type="button"], .ui-dialog .ui-dialog-titlebar input[type="reset"], .ui-dialog .ui-dialog-titlebar input[type="submit"], .ui-dialog .ui-dialog-titlebar [role="button"] {
	-webkit-appearance: none;
}