/*
 * HTML5 ? Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231;}

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }



h1, h2, h3, h4, h5, h6{
	margin:0;
	padding:0;
	font-size: 12px;
}


/* =============================================================================
   Links
   ========================================================================== */

a { color: #268FCC; text-decoration:none; }
/*a:visited { color: #551a8b; }*/
a:hover { color: #4B3273; text-decoration: underline; }
/*a:focus { outline: thin dotted; }*/

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */
.hide-me {
    display:none;
}
abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

pre { font-family: Arial, Helvetica, Sans-Serif; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

/* FONTS */
    @font-face {
		font-family: 'QuicksandBook';
		src: url('../fonts/Quicksand_Book-webfont.eot');
		src: url('../fonts/Quicksand_Book-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/Quicksand_Book-webfont.woff') format('woff'),
			 url('../fonts/Quicksand_Book-webfont.ttf') format('truetype'),
			 url('../fonts/Quicksand_Book-webfont.svg#QuicksandBook') format('svg');
		font-weight: normal;
		font-style: normal;
	
	}
	
	@font-face {
		font-family: 'QuicksandLight';
		src: url('../fonts/Quicksand_Light-webfont.eot');
		src: url('../fonts/Quicksand_Light-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/Quicksand_Light-webfont.woff') format('woff'),
			 url('../fonts/Quicksand_Light-webfont.ttf') format('truetype'),
			 url('../fonts/Quicksand_Light-webfont.svg#QuicksandLight') format('svg');
		font-weight: normal;
		font-style: normal;
	
	}
	
	@font-face {
		font-family: 'QuicksandBold';
		src: url('../fonts/Quicksand_Bold-webfont.eot');
		src: url('../fonts/Quicksand_Bold-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/Quicksand_Bold-webfont.woff') format('woff'),
			 url('../fonts/Quicksand_Bold-webfont.ttf') format('truetype'),
			 url('../fonts/Quicksand_Bold-webfont.svg#QuicksandBold') format('svg');
		font-weight: normal;
		font-style: normal;
	
	}
/* END FONTS */


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { list-style: none; margin: 0; padding: 0; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */

table button, table input { *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"], [role="button"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; width:25%; }
th { text-align:left; padding:10px 0; width:25%; }

a {  }

li { list-style:none; text-indent:0; }

p{ margin:5px 0; padding:0; }




/* =============================================================================
   Clear Fix
   ========================================================================== */

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

/* #################### TEMP STYLES ################### */

.checkBoxPopUp{
	border:1px #555 solid;
	width:200px;
	padding:10px;
	background-color:#FFF;
}

/* #################### FORM STYLES ################### */

.checkboxLeft {
	margin-right:10px;
}



/* #################### PAGE STYLING STARTS BELOW ################### */
body{
	background:#f2efea url(../images/styleImages/background_stripes.png) repeat-x;
}

#wrapper{
	background:url(../images/styleImages/background_arc.png) no-repeat top center;
	margin:0 auto;
	padding-bottom:40px;
	font-family:"QuicksandBook";
}

.pageContainer{
	width:1070px;
	margin:0 auto;
}

#main{
	width:990px;
	margin:20px auto;
}

#pageHeading{
	margin-bottom:30px;
}

#uniquenessModel{
	margin-top:40px;
	position:relative;
}

form input{
	/*margin-top:20px;*/
}

.fullTable{
	width:75%;
	float:left;
}

#skills{
	margin-top:40px;
}

#skillDetailsContainer{
	position:relative;
}

#skills{
	float:left;
	width:650px;
	margin-right:15px;
}

#skillsList{
	float:right;
	width:315px;
}

.right{
	float:right;
	margin-left:20px;
}

.left{
	float:left;
	margin-right:20px;
}

.buttonBlock{
	display:inline-block;
	border:1px #555 solid;
	padding:5px;
	cursor:pointer;
	margin-top:10px;
}

.point{
	background:url(../images/styleImages/marker.png) no-repeat top center;
	min-width:20px;
	min-height:5px;
	display:inline-block;
}

.width50{
	width:50%;
}

.width100{
	width:100%;
}

.borderLeft{
	border-left:1px #F2EFEA solid;
	margin-left:10px;
	padding-left:10px;
}

.sliderBlock{
	position:relative;
	margin-bottom:40px;
	width:660px;
	overflow:auto;
}

.leftPartition{
	background:url(../images/styleImages/leftPartitionBkgd.png) no-repeat;
	position:relative;
	width:102px;
	float:left;
	overflow: auto;
	padding: 5px 0;
	min-height:176px;
}

.rightPartition{
	background:url(../images/styleImages/rightPartitionBkgd.png) no-repeat;
	float:right;
	overflow:auto;
	width:27px;
	min-height:176px;
}

.rightPartition .closeBtn{
	float:right;
	margin:5px 5px 0 0;
}

.centerPartition{
	background:url(../images/styleImages/centerPartitionBkgd.png) repeat-x;
	float:left;
	padding:5px 13px 5px 3px;
	width:515px;
	min-height:176px;
}

.centerPartition h3{
	margin:25px 0 20px 0;
}

.farLeft{
	width:200px;
	float:left;
	font-size:11px;
	margin-left:10px;
}

.farRight{
	width:200px;
	float:right;
	text-align:right;
	font-size:11px;
	margin-right:10px;
}

.farLeft span, .farRight span{
	font-family:"QuicksandBold";
	font-size:12px;
}

#modelAccordion .farLeft, #modelAccordion .farRight {
    font-size: 10px;
    width:150px;
}

.skillBlock .centerPartition ul, .skillBlock .centerPartition li{
	display:inline;
}

.skillRelates{
	margin-top:40px;
}
.skillRelates>span {
    font-weight: normal; color: #412571;
    font-family:"QuicksandBold";
}

.templateBlock{
	display:none;
}

.modelSection h2{
	position:absolute;
	font-family:"QuicksandBold";
	font-size:14px;
}

#profileModel{
	clear:both;
	min-height: 800px;
}

#wantBlock h2{
	top: 12px;
	left: 243px;
}

#liveBlock h2{
	top: 410px;
	left: 475px;
	-webkit-transform: rotate(-60deg);	
	-moz-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	transform: rotate(-60deg);
}

#knowBlock h2{
	top: 404px;
	left: 11px;
	-webkit-transform: rotate(61deg);	
	-moz-transform: rotate(61deg);
	-ms-transform: rotate(61deg);
	-o-transform: rotate(61deg);
	transform: rotate(61deg);
}

/* #################### NAVIGATION STYLING ################### */

#accountNav{
	float:right;
	margin-right:40px;
}

#accountNav .loggedOut, #accountNav .loggedOut form{
	display:inline;
}

#accountNav form input{
	margin-top:0;
}

nav{
	margin:40px 0 40px 0;
	float:right;
	clear:both;
}

#siteNavigation a{
	color:#F2EFEA;
	clear:both;
	text-decoration: none;
}

nav li{
	float:left;
	text-align:right;
	padding:15px 40px;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

#profile li.profile{
	background-color:#F2EFEA;
	color:#554943;
}

#profile li a{
	display:block;
}

#profile li.profile a{
	color:#544943;
}

/* #################### REGISTRATION PAGE STYLES ################### */

#registrationForm table{
	
}

#registrationForm td{
	
}

/* #################### SLIDER STYLES ################### */

.slider{
	position:relative;
	cursor:pointer;
}

.findpeople .slider, 
.findpeople .ui-slider .ui-slider-handle { cursor: default; }

.skillsSlider span{
	position:absolute;
	bottom:-25px;
	padding-top:9px;
	cursor:pointer;
	background: url(../images/styleImages/marker.png) no-repeat top center;
	display: inline-block;
}

.wantsSlider span, .livesSlider span{
	position:absolute;
	bottom:-4px;
	cursor:pointer;
}

#skillLevel{
	width:600px;
	border:1px #CCC solid;
	min-height:70px;
	padding:10px 0;
}

#skillLevel h3{
	float:left;
	margin-left:50px;
}

#skillLevel .slider{
	float:right;
	margin-right:50px;
}

/* #################### POPUP STYLES ################### */

.checkBoxPopUp{
	position:absolute;
	display:none;
}

.close{
	position:absolute;
	top:10px;
	right:10px;
	cursor:pointer;
}

/* #################### PROFILE PAGE ################### */

section{
	margin-bottom:20px;
}

.sectionHeader{
	border-bottom:1px #000 dotted;
	padding-bottom:20px;
	margin-bottom:20px;
}

.sectionHeader h2{
	float:left;
}

.infoTabs, .editTabs {
	float:right;
}

.infoTabs li{
	display:inline;
	margin-left:40px;
}

.companyType{
	float:right;
	width:25%;
}

.aboutList{
	float:left;
	width:33%;
}

/* #################### WANTS / LIVES PAGE ################### */

#wants, #lives{
	width:650px;
	float:left;
	margin-right:10px;
}

.progressModel{
	width:315px;
	float:right;
}

.wantsSlider, .livesSlider{
	width:500px;
	margin:15px auto;
	clear:both;
}

.sliderBlock{
	width: 650px;
}
.sliderBlock  .centerPartition {
	float: left;
	/*padding: 5px 0 5px 6px;*/
	padding: 5px 0;
	width: 515px;
	min-height: 176px;
}

.moreSliders{
	display:none;
}

.progressModel h2{
	border-bottom:1px #555 dashed;
}

/* #################### SKILLS PAGE ################### */

h3.skillList{
	border-bottom:1px #000 dotted;
	margin-bottom:20px;
}

/* #################### PROGRESS MODEL STYLES ################### */

.progress{
	position:relative;
}

.progressNotice{
	background:url(../images/styleImages/progressBlurbTop.png) no-repeat top left;
	padding-top:12px;
	position:absolute;
	top:190px;
	left:75px;
}

.wantProgress .progressNotice{
	top:90px;
	left:140px;
}

.liveProgress .progressNotice{
	top:190px;
	left:200px;
}

.progressNotice p{
	background:url(../images/styleImages/progressBlurbBottom.png) no-repeat bottom left;
	width:100%;
	padding-bottom:6px;
	margin:0;
}

.progressNotice p span{
	background:url(../images/styleImages/progressBlurbMid.png) repeat-y top left;
	margin:0;
	color:#F2EFEA;
	padding:5px 10px;
	width:90px;
	display:block;
}

#wantsPage .progressNotice{
	position:absolute;
	top:70px;
	left:170px;
}

#knows .progressNotice{
	position:absolute;
	top:200px;
	left:70px;
}

#livesPage .progressNotice{
	position:absolute;
	top:200px;
	left:220px;
}

/* #################################################### */
/* #################### CSS UPDATES ################### */
/* #################################################### */

h1, h2, h3, h4, h5, h6 {
	color: #412571;
	font-family: "QuicksandBold"; font-weight: bold;
}

hr {
	border: 0;
	background: url(../images/styleImages/hr.png) 0 0 repeat-x;
	padding: 1px 0 0 0;
}

.pageMsg.invisible {  }

/* #################### OVERRIDES ################### */

body{
	background:#ffffff url(../images/styleImages/background_stripes.png) repeat-x;
}

#main { margin: 35px auto; position: relative; }
.pageContainer { width: 990px; }



:focus { outline: none; }

.leftPartition{
	background:url(../images/styleImages/bg-sliderBlock-full.png) no-repeat;
}

.rightPartition{
	background:url(../images/styleImages/bg-sliderBlock-full.png) top right no-repeat;
/* 	width: 5px; */
}

.centerPartition {
	background:url(../images/styleImages/bg-sliderBlock-full.png) -102px 0 repeat-x;
}
.sliderBlock .closeBtn { position: absolute; top: 5px; right: 5px; }

.sliderBlock .rightPartition { width: 7px; }
.sliderBlock .centerPartition { 
    width: 541px;
    /*padding-right: 5px;*/
    box-sizing: border-box;
}

#skills .ui-slider, #wants .ui-slider, #lives .ui-slider, .skillDetailSlider { width: 510px; }

/* #wants .sliderBlock, #lives .sliderBlock, #skills .sliderBlock { width: 560px; } */
/* #wants .centerPartition, #lives .centerPartition, #skills .centerPartition { width: 515px; } */

/* #lives .slider { border-radius: none; } */
.wantsSlider span, .livesSlider span { bottom: -4px; }
.point { min-width: 1px; }
/* .wantsSlider, .livesSlider { margin: 0 0 10px 0; width: auto; } */

.darkSliderBkgd{
	background-image:url(../images/styleImages/bg-sliderBlock-full-dark.png);
}

.progressNavigation {
	width: 660px; float: left;	
	
}

.progressModel{
	width:315px;
	float:none;
	position: absolute; top: 120px; right: 0;
}

#skillsList { 
  float:none;
	position: absolute; top: 0; right: 0;  
}

.questionBlock { position: relative; width:100%; }

.ui-slider-handle, .ui-slider-handle:focus { border: 0;}
.ui-slider-handle {
	background: url(../images/styleImages/sliderHandleSprite.png) 1px -1px no-repeat;
}

.accordionSlider { width: 362px; }

.accordionWants .ui-slider-handle.value-1, #wants .ui-slider-handle.value-1 { background-position: -28px 0; }
.accordionWants .ui-slider-handle.value-2, #wants .ui-slider-handle.value-2 { background-position: -58px 0; }
.accordionWants .ui-slider-handle.value-3, #wants .ui-slider-handle.value-3 { background-position: -89px 0; }
.accordionWants .ui-slider-handle.value-4, #wants .ui-slider-handle.value-4 { background-position: -119px 0; }
.accordionWants .ui-slider-handle.value-5, #wants .ui-slider-handle.value-5 { background-position: -149px 0; }

/* .accordionWants .ui-slider-handle.value-5, #wants .ui-slider-handle.value-5 { left: 99% !important; } */

.accordionLives .ui-slider-handle.value-1, #lives .ui-slider-handle.value-1 { background-position: -28px -35px; }
.accordionLives .ui-slider-handle.value-2, #lives .ui-slider-handle.value-2 { background-position: -58px -35px; }
.accordionLives .ui-slider-handle.value-3, #lives .ui-slider-handle.value-3 { background-position: -89px -35px; }
.accordionLives .ui-slider-handle.value-4, #lives .ui-slider-handle.value-4 { background-position: -119px -35px; }
.accordionLives .ui-slider-handle.value-5, #lives .ui-slider-handle.value-5 { background-position: -149px -35px; }

.skillDetailSlider .ui-slider-handle.value-1, .accordionKnows .ui-slider-handle.value-1, #skills .ui-slider-handle.value-1 { background-position: -28px -70px; }
.skillDetailSlider .ui-slider-handle.value-2, .accordionKnows .ui-slider-handle.value-2, #skills .ui-slider-handle.value-2 { background-position: -58px -70px; }
.skillDetailSlider .ui-slider-handle.value-3, .accordionKnows .ui-slider-handle.value-3, #skills .ui-slider-handle.value-3 { background-position: -89px -70px; }
.skillDetailSlider .ui-slider-handle.value-4, .accordionKnows .ui-slider-handle.value-4, #skills .ui-slider-handle.value-4 { background-position: -119px -70px; }
.skillDetailSlider .ui-slider-handle.value-5, .accordionKnows .ui-slider-handle.value-5, #skills .ui-slider-handle.value-5 { background-position: -149px -70px; }


#modelAccordion h3#want a, #modelAccordion h3#live a, #modelAccordion h3#know a { background-size: 100% 5px; }

.seeSkills, .seeDetails{
	position:absolute;
	top:0;
	right:5px;
}

.seeSkills{
	top:10px;
}

.centerPartition h3 {
	font-size: 16px;
	margin-top: 25px;
	margin-bottom: 10px;
	word-wrap: break-word;
	width: 520px;
}

.sliderBlock .centerPartition h3 { margin-left: 10px; }

/* .skillBlock .centerPartition h3 { margin-top: 10px; } */

.farLeft, .farRight { color: #222222; }
.farLeft span, .farRight span { color: #412571; }

/* #################### HEADER ################### */

#site-header {
	position: relative;
	background: url(../images/styleImages/bg-header-circles.png) right top no-repeat;
	height: 102px;
}

#site-header .logo {
	width: 201px; height: 69px;
	background: url(../images/styleImages/logo-onedegree.png) 0 0 no-repeat;
	position: absolute; top: 10px; left: 0px;
	
	/* .hide-text */
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

#site-header .logo a {
	display: block;
	width: 100%; height: 100%;
	position: absolute; top: 0; left: 0;
}

#accountNav {
	color: #fff;
	background-color: #6e4e94;
	padding: 5px 10px;
	border-radius: 0 0 3px 3px;
	font-size: 11px; 
	margin-right: 0;
}

#accountNav a {
	color: #fff;
	text-decoration: none;
}
#accountNav a:hover { text-decoration: underline; }

nav {
	margin: 0;
	font-size: 22px;
	float: none;
	position: absolute; bottom: 0; right: 0px;
}

nav li {
	padding: 0;
	margin-left: 5px;
}

nav li a {
	padding: 10px 20px 30px 20px;

	display: block; border-radius: 3px 3px 0 0;
}

#siteNavigation nav li.active a, #siteNavigation nav li:hover a {
		color: #a491b8;
} 

.home nav { bottom: 20px; }
.home nav li a {
	padding: 10px 20px;
	border-radius: 3px;
}

body.profile nav .profile {
    background: #fff; color: #412571;
}
body.profile #siteNavigation .profile a { color: #412571; }

body.findpeople nav .search {
    background: #fff; color: #412571;
}
body.findpeople #siteNavigation .search a { color: #412571; }

/* #################### BUTTONS ################### */

div.btn {
	display: table;
	height: 33px; 
	background-image: none;
	position: relative;
	cursor: pointer;
}

.btn a:hover { text-decoration: none; }

.btn .text {
	display: table-cell;
	text-align: center; vertical-align: middle;
	height: 33px; padding: 0 5px;
	box-sizing: border-box;
}

.btn.green, .btn.blue {
	font-family: "QuicksandBold"; font-weight: bold;
	color: #fff;
}


.cancelBtn{
	color:#acacac;
	margin-top:20px;
}

.btn.green:hover, .btn.blue:hover {
/* 	box-shadow: 0px 0px 0px 3px black; */
}

.btn.green .l, .btn.blue .l  {
	width: 3px; height: 34px;
	background: url(../images/styleImages/button-green.png) left top no-repeat;
	position: absolute; left: 0; top: 0;
}

.btn.green .text, .btn.blue .text {
	padding: 0 11px;
	height: 34px;
	background: url(../images/styleImages/button-green.png) top right no-repeat;
}

.btn.green a, .btn.blue a { padding-left: 3px; color: #fff;  display: block; }

.btn.green:hover .text, .btn.blue:hover .text {
	background-position: right -39px;
	color: #fff;
}

.btn.green:hover .l, .btn.blue:hover .l {
	background-position: left -39px;
}

.btn.blue .text, .btn.blue .l {
	background-image: url(../images/styleImages/button-blue.png);
} 

.btn.disable .text {
   
}
.disabledBtn{
	color:#FFF;
	background-color:none;
	
}
.btn.disabledBtn { margin-top: 15px; }
.percentageComplete { margin: 20px 0 0 20px; color:#43296b; font-size:13px; font-family: "QuicksandBold"; font-weight: bold; }
.btn.disabledBtn .text, .btn.disabledBtn .l {
	background-image: url(../images/styleImages/button-disable.png);
} 
.btn.disabledBtn:hover .text { background-position: right 0; }
.btn.disabledBtn:hover .l { background-position: left 0; }
.btn.saveEnabled { padding: 0; }
.btn.plain {
	
}
.btn.plain .text { padding: 0 8px; color: #268FCC; font-family:"QuicksandBold"; font-weight: bold;}


.btn.plus {
	color: #412571;
}
.btn.plus a { color: #412571; padding-left: 25px; display: block }
.btn.plus .text {
	background: url(../images/styleImages/button-plus.png) right top no-repeat;
	padding-right: 10px; font-weight: bold; height: 36px;
}
.btn.plus .l {
	background: url(../images/styleImages/button-plus.png) left top no-repeat;
	width: 25px; height: 36px; position: absolute; top: 0; left: 0;
}

.btn.plus:hover .text {
	background-position: right -36px;
	color: #fff;
}
.btn.plus:hover .l {
	background-position: left -36px;
}

.btn.plus.noplus  a { padding-left: 5px; }
.btn.plus.noplus .l { width: 6px; }


.btn.greenlarge .text {
    background-image: url(../images/styleImages/button-green-large.png);
    font-size: 20px; letter-spacing: -2px;
    height: 48px; padding: 0 20px 0 14px;
}

.btn.greenlarge a { padding-left: 6px; }

.btn.greenlarge .l {
    background-image: url(../images/styleImages/button-green-large.png);
    height: 48px; width: 6px;
}

.btn.greenlarge:hover .text { background-position: right -50px; }
.btn.greenlarge:hover .l { background-position: left -50px; }


/* ###################### HOME PAGE #################### */

body.home {
	background: #341e52 url(../images/styleImages/bg-home.jpg) center top repeat-x;
}
.home #wrapper { background: none; }

.home .pageContainer {  }
.home #site-header { background: none; }
.home #main { margin: 0; width: auto; }

.home, .home h1, .home h2 { color: #fff; }
.home h1 { font-size: 20px; }

.home .left { width: 790px; }
.home .infoGroup {
	color: #9f92b7;
	margin-top: 20px;
}

.home .infoGroup ul {
	margin-top: 10px;
	list-style: disc;
}

.home .infoGroup li {
	list-style: disc;
	margin-bottom: 5px;
	margin-left: 15px;
}


#center-stage {
	position: relative;
	height: 400px;
}

#center-stage img {
	position: absolute; top: 0; left: -145px;
}
#home-content-row  h1  {
	background: url(../images/styleImages/text-homeheadline.png) 0 0 no-repeat;
}
.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.home .button-row { margin-top: 20px; }
.home .button-row .btn { float: left; }
.home .button-row .btn.plain { cursor: auto; }
.home .button-row .btn.plain .text { color: #fff; padding-left: 20px; height: 48px; }


#home-content-row { position: relative; margin: 0; }

.login-home {
	width: 294px; min-height: 202px;

    background: rgba(255,255,255,0.07);
    border-radius: 4px;
    position: absolute; top: 0; right: 0;
}

.no-rgba .login-home {
  	background: url(../images/styleImages/bg-login-home.png) 0 0 no-repeat;
}


.login-home h3 {
	color: #fff; font-size: 15px; letter-spacing: -1.5px;
	font-family: "QuicksandBold"; font-weight: bold;
	margin: 20px 15px;
}

.loginFail{
	margin:0 10px 10px 10px;
	color:#FF0000;
	font-family: "QuicksandBold"; font-weight: bold;
}

.login-home table {
	margin: 0px 15px;
}

.login-home td.text { vertical-align: middle; color: #9f92b7; padding-bottom: 10px;  }

.login-home input.text { background-color: #fff; width: 130px; margin-bottom: 10px; float: right; }

.login-home .btn { margin-right: 15px; float: right; }

.login-home .forgot-link {
	color: #9f92b7; font-size: 11px;
	text-align: right;
	display: block; margin: 15px;
}

.login-home .forgot-link:hover { color: #fff; } 

/* #################### SLIDER PAGES ################### */

h1.pagetitle {
	font-size: 30px; color: #4b3273;
	font-family: "QuicksandBold"; font-weight: normal;
	margin: 0; padding-bottom: 15px; margin-bottom: 20px;
	background: url(../images/styleImages/hr.png) bottom left repeat-x;
}


.progressModel h2, #skillsList h2 {
	border: 0;
	margin-bottom: 20px; padding-bottom: 5px;
	background: url(../images/styleImages/hr.png) bottom left repeat-x;
	font-family: "QuicksandBold"; font-weight: normal;
	letter-spacing: -.5px;
	color: #4b3273; font-size: 15px;
	text-transform: uppercase;
}

.sliderBlock { margin-bottom: 15px; }

form.skillSelect h3 {
	font-size: 13px; font-weight: normal; margin: 25px 0 10px 0;
}

#pageHeading p,
.skillSelect .instructions { font-size: 16px; color: #636363; margin-bottom: 10px; }

.skillButtonRow { margin-bottom: 15px; min-height: 60px; }
.skillButtonRow .btn { float: left; margin-right: 10px; }

section#skills { margin-top: 0; }

.submitFlow{
	cursor:pointer;
}

#uniqueSkill {
	font-size: 16px; padding: 10px 20px 8px 20px;
	border: 1px solid #cecece; border-radius: 3px;
	box-shadow: inset 0 0 3px 3px #f9f9f9;
	font-family: "QuicksandBold"; font-weight: normal;
}

.inputRow input { float: left; margin-top: 0; }
.inputRow .btn { float: left; margin-left: 20px; }

#skillsMain .hrInst {
	display:block;
	font-size: 9px;
	margin: 25px 0; 
}

#skillsMain .hrInst p img { margin-right: 10px; }

#skillsMain .hrInst hr {
	background: none;
	border-bottom: 2px solid #bebebe;
}

.moreGroup {
	height: 2px; margin: 20px 0;
	background: url(../images/styleImages/hr.png) bottom left repeat-x;
}

.moreGroup .btn { margin: 0px auto; position: relative; top: -15px; }

.moreGroup .btn .text {
	font-family: "QuicksandBold"; font-weight: normal;
}

/* #################### PROFILE PAGE ################### */

section{
	margin-bottom:20px;
}

.sectionHeader{

	padding-bottom:10px;
	margin-bottom:20px;
	border: 0;
	
}

#profileHeader.sectionHeader {
	padding-bottom: 0;
}
#profileHeader.sectionHeader h2 {
	font-family: "QuicksandBook";
	font-weight: normal;
	font-size: 40px;
	float: none; 
	text-transform: none;
	background: url(../images/styleImages/hr.png) bottom left repeat-x;
	padding-bottom: 10px;
}

.findpeople #profileHeader, .profile #profileHeader{
	display:none;
}


.sectionHeader h2{
	float:left;
}

/* #profileHeader infotabs moved to near find people */

.editTabs {
	float:right;
	padding-bottom: 3px;	
}


.editTabs {
	float:right;
}

#profileHeader .infoTabs {
    float: left;
}

.infoTabs li{
	display:inline;
	margin-left:40px;
}

.companyType{
	float:right;
	width:25%;
}

.aboutList{
	float:left;
	width:33%;
}

.editTabs {
	font-family: "QuicksandBold"; font-weight: bold;
	color: #268fcc; font-size: 11px;
}

#profileImageGroup {
	position: absolute; top: 236px; left: 223px;
	width: 91px; height: 91px;
}

#profileImageGroup .mask {
	width: 91px; height: 91px;
	position: absolute; top: 0; left: 0;
	background: url(../images/styleImages/wheel_img_mask.png) 0 0 no-repeat;
	z-index: 0;
}

#profileImageGroup img {
	z-index: 0; /* Under mask */
	width: 91px; height: 91px;
	position: absolute; top: 0; left: 0; 
}

/* #################### Profile Widgets ################### */


.sectionHeader h2 {
	font-size: 15px; text-transform: uppercase;
}


.panel {
	color: #4b3273; font-size: 12px; 
	line-height: 100%;
}
.panel h3 {
	font-family: "QuicksandBold"; font-weight: bold;
	color: #4b3273; font-size: 14px;
	margin-bottom: 5px; 
}

.interestedIn {
	margin-bottom:90px;
}
.row .col { height: 180px; }
.col .panelButton {
	margin: 0 0 0 0; height: 100%; width: 228px; cursor: pointer;
	background: url(../images/styleImages/interestPanel.png) 0 -181px no-repeat;
	position: relative;
}
.col .panelButton:hover { background-position: 0 0; }

.moreaboutMe .col .panelButton {
	background: url(../images/styleImages/morePanel.png) 0 -181px no-repeat;
	width: 310px;
}
.moreaboutMe .col .panelForm {
	width: 313px;
}

.panelButton .icon {
	width: 72px; height: 69px;
	background: url(../images/styleImages/icon-circles-list.png) 0 -69px no-repeat;
	position: absolute; top: 35px; left: 73px;
}

.moreaboutMe .panelButton .icon { top: 50px; left: 45px; }
.moreaboutMe .panelButton .text {
	padding-top: 0; position: absolute; top: 75px; left: 145px;
	text-align: left; width: 125px;
}

#panel-positionType .icon { background-image: url(../images/styleImages/icon-circles-calendar.png); }
#panel-searchRadius .icon { background-image: url(../images/styleImages/icon-circles-globe.png); }
#panel-travel .icon { background-image: url(../images/styleImages/icon-circles-plane.png); }
#panel-benefits .icon { background-image: url(../images/styleImages/icon-circles-umbrella.png); }
#panel-education .icon { background-image: url(../images/styleImages/icon-circles-grad.png); }
#panel-workHistory .icon { background-image: url(../images/styleImages/icon-circles-list.png); }
#panel-orgs .icon { background-image: url(../images/styleImages/icon-circles-people.png); }

.panelButton:hover .icon { background-position: 0 0; }

body.findpeople .panelButton { cursor: default; }
body.findpeople .panelButton:hover .icon { background-position: 0 -69px; }
body.findpeople .col .panelButton:hover { background-position: 0 -181px; }
body.findpeople .panelButton:hover .text { color: #bfbebc; }
body.findpeople .panelButton .text { /* text-transform: capitalize;  */}

.panelButton .text {
	text-align: center;
	padding-top: 125px;
	font-family: "QuicksandBold";
	font-weight: bold;
	color: #bfbebc;
}

.panelButton:hover .text { color: #4b3273; }

.panelForm {
	background: url(../images/styleImages/interestPanelEdit.png) 0 0 no-repeat;
	width: 228px;
	min-height: 269px; height: auto !important; height: 269px;
	position: relative;
}
.moreaboutMe .panelForm {
	background: url(../images/styleImages/bgExpandFormTop.png) 0 0 no-repeat;
	
}
.moreaboutMe .panelForm .bottom {
	width: 313px; height: 195px;
	background: url(../images/styleImages/bgExpandFormBottom.png) 0 0 no-repeat;
	position: absolute; left: 0; bottom: -5px;
}

.panelForm .padding { padding: 15px 15px; position: relative; }
.panelForm .desc { margin: 10px 0 5px 0; }
.panelForm .checkboxList li, .panelForm .radioList li { padding: 0 0 8px 0; }
.panelForm .checkboxList li label, .panelForm .radioList li label { position: relative; top: 2px; font-size: 11px;  }



.interestedIn .panelResult { }

.interestedIn .col.last { width: 228px; }
.interestedIn .row { min-height: 269px; height: auto !important;  height: 269px; }
.interestedIn .row { min-height: 0; height: auto; }
.interestedIn .panelButton { height: 180px; }
.interestedIn .row .col { height: auto; }
.interestedIn .panelResult { min-height: 220px; height: auto !important;  height: 220px; }

.moreaboutMe .row { min-height: 269px; height: auto !important;  height: 269px; }
.moreaboutMe .col.last  { width: 313px; }
.moreaboutMe .row .col { height: auto; }
.moreaboutMe .row { min-height: 0; height: auto; }
.moreaboutMe .panelButton { height: 182px; }

.row {}
.row .col { float: left; }
.row .col4 { width: 254px; }
.row .col { position: relative; }
.row .panel { position: relative; }
.row .col3 { width: 338px; height: 200px; }


ul.checkboxList {}
ul.checkboxList li { margin:0; padding: 0; }
.panelForm input, ul.checkboxList li input { }
ul.checkboxList li label, ul.radioList li label { margin-left: 5px; }
ul.checkboxList .musthave {  }

.panelResult {  }
.interestedIn .col .panelResult {

	margin: 0 0 0 0; height: 100%; width: 228px;
}

.panelResult .padding {  }
.panelResult h3 { margin-bottom: 20px;  }
.panelResult .fulltimeGroup,
.panelResult .parttimeGroup,
.panelResult .radiusGroup,
.panelResult .relocateGroup,
.panelResult .commuteGroup,
.panelResult .travelGroup {
	vertical-align: middle;
	min-height: 57px; height: 57px; min-width: 57px;
	background: url("../images/styleImages/icon-fulltime.png") 0 0 no-repeat;
	padding-left: 65px; line-height: 130%; font-size: 14px;
}
.panelForm,
.panelForm .desc, .panelResult .desc { font-size: 12px; line-height: 120%; color: #636363; }

.panelResult .fulltimeGroup,
.panelResult .travelGroup,
.panelResult .radiusGroup { margin-bottom: 15px; }

.panelResult .radiusGroup,
.panelResult .relocateGroup,
.panelResult .commuteGroup,
.panelResult .travelGroup,
.panelResult .fulltimeGroup,
.panelResult .parttimeGroup { display: table; }

.panelResult .radiusGroup p,
.panelResult .relocateGroup p,
.panelResult .commuteGroup p,
.panelResult .travelGroup p,
.panelResult .fulltimeGroup p,
.panelResult .parttimeGroup p { display: table-cell; vertical-align: middle; }

.panelResult .fulltimeGroup { background-image: url(../images/styleImages/icon-fulltime.png); }
.panelResult .parttimeGroup { background-image: url(../images/styleImages/icon-parttime.png); }
.panelResult .radiusGroup { background-image: url(../images/styleImages/icon-il.png); }
.panelResult .relocateGroup { background-image: url(../images/styleImages/icon-globe.png); }
.panelResult .commuteGroup { background-image: url(../images/styleImages/icon-car.png); }
.panelResult .travelGroup { background-image: url(../images/styleImages/icon-plane.png); }


.panelResult .benefitsList {
	margin-top: 5px;
	line-height: 130%; font-size: 14px; font-weight: bold; font-family: "QuicksandBold";
}


.panelResult .benefitsList li { padding-bottom: 3px;}
.panelResult .benefitsList img { vertical-align: bottom; margin-left: 5px; }
.panelResult .benefitsList li span { float: left; display: block; }
.icon-must {
	vertical-align: bottom; margin-left: 5px;
	width: 40px; height: 20px;
	background: url(../images/styleImages/icon-must.png) top left no-repeat;
	float: left;
}

#panel-education .panelResult { background:url(}

.panelResult .commuteGroup .desc, .panelResult .travelGroup .desc { line-height: 100%; }
.panelResult .commuteGroup .answer, .panelResult .travelGroup .answer {
	font-family: "QuicksandBold"; color: #4b3273;
	font-weight: bold; font-size: 30px; position: relative; top: 3px;
	letter-spacing: -2px;
}
.panelResult .commuteGroup .answer { top: 14px; }

.travelGroup .two { margin-top: 5px; margin-bottom: 5px; }

.answer sup { font-size: 60%; }
.answer .smallSup { font-size: 14px; position: relative; top: -8px; }

.panelResult .commuteGroup .commuteAnswer { display: block; position: relative; top: 18px; }

#panel-benefits .panelResult .padding { padding-bottom: 50px; }

.panelResult b {
	font-family: "QuicksandBold";
	font-weight: bold; 
}

#panel-travel .radioList li { clear: both; padding-top: 10px;  }
#panel-searchRadius .ofText { padding-top: 8px; }
#panel-searchRadius .zipText { padding-top: 13px; }

#panel-benefits .panelResult {
	background: url(../images/styleImages/bg-benefits.png) bottom left no-repeat;
}

#panel-education .panelResult {
	background: url(../images/styleImages/bg-education.png) bottom left no-repeat;
}

#panel-education .panelResult .padding {
    padding: 0 25px 50px 0;
}
#panel-workHistory .panelResult .padding { padding-right: 25px; }

#panel-education .panelResult .contentList ul li,
#panel-workHistory .panelResult .contentList ul li { position: relative; margin-bottom: 20px; }
#panel-education .panelResult .where,
#panel-workHistory .panelResult .where {
    font-size: 14px; font-family: "QuicksandBold";
    font-weight: bold; letter-spacing: -1px;
    width: 195px; line-height: 120%;
}
#panel-education .panelResult .what,
#panel-workHistory .panelResult .what, #panel-workHistory .panelResult .about {
    margin-top: 10px;
    color: #636363;
}
#panel-education .panelResult .when,
#panel-workHistory .panelResult .when { position: absolute; top: 0; right: 0; }

.contentList.singleList {
	margin-top: 5px;
	line-height: 130%; font-size: 14px; font-weight: bold; font-family: "QuicksandBold";
}
.contentList.singleList li { padding-bottom: 3px; }

#panel-orgs .panelResult {
	background: url(../images/styleImages/bg-orgs.png) 0 30px no-repeat;
}

#panel-orgs .panelResult .contentList { padding-top: 50px; }
#panel-orgs .panelResult .contentList li { margin-bottom: 10px; }
#panel-orgs .panelResult .contentList .name {
    font-size: 14px; font-family: "QuicksandBold";
    font-weight: bold; letter-spacing: -1px;
}
#panel-orgs .panelResult .contentList .desc { margin-top: 10px; color: #636363; } 


.panelResult .contentList.pairs li { margin-bottom: 10px; }
.panelResult .contentList.pairs .name {
    font-size: 14px; font-family: "QuicksandBold";
    font-weight: bold; letter-spacing: -1px;
}
.panelResult .contentList.pairs .desc { margin-top: 10px; color: #636363; } 

.panelForm input.size1 { width: 276px; }
.panelForm input.size2 { width: 136px; }
.panelForm input.size3 { width: 108px; }
.panelForm input.size4 { width: 255px; }

.panelForm td { padding: 3px 0; }
.moreaboutMe .panelForm table { width: 280px; }
.moreaboutMe .panelForm td.text span { white-space: nowrap; padding: 0 5px 0 0; }
.moreaboutMe .panelForm td.text { vertical-align: middle; }

.moreaboutMe .panelForm td input[type=text] { position: relative; top: 3px; }

.moreaboutMe .panelForm .desc {  margin-bottom: 10px; }

.panelForm .jobGroup { margin-right: 15px; position: relative; }
.panelForm .jobGroup .future-text{ display: none; padding-top: 4px; }
.moreaboutMe .panelForm .jobGroup table { width: 263px; }
.panelForm .jobGroup .selector {}

.panelForm .jobGroup textarea,
.panelForm .orgGroup textarea,
.panelForm .pairGroup textarea  {
	width: 258px; height:78px;
	border: 0; 
	background: transparent url(../images/styleImages/textarea.png) 0 0 no-repeat;
}

.panelForm .jobGroup textarea { display: none; margin-top: 10px; }

.doubleSelectRow .selector-45 { position: absolute; left: -2px; }
.doubleSelectRow .selector-50 { position: absolute; left: 53px; }
.doubleSelectRow td { height: 22px; position: relative; }
.doubleSelectRow .selector-45, .doubleSelectRow .selector-50 { position: absolute; }


#panel-orgs .panelForm .padding,
#panel-interests .panelForm .padding,
#panel-awards .panelForm .padding,
#panel-course .panelForm .padding,
#panel-books .panelForm .padding,
#panel-travex .panelForm .padding { padding-right: 30px; }

#panel-awards { position: relative; left: 1px; }

#panel-interests,
#panel-books { position: relative; left: 2px; }

.panelForm .orgGroup { position: relative; margin-bottom: 10px; }
.panelForm .orgGroup input { }
.panelForm .orgGroup textarea { margin-top: 10px; display: none; }
.panelForm .jobGroup .moreArrow, .panelForm .orgGroup .moreArrow { top: 4px; right: -20px; }

.panelForm .pairGroup { position: relative; margin-bottom: 10px; }
.panelForm .pairGroup input { }
.panelForm .pairGroup textarea { margin-top: 10px; display: none; }
.panelForm .pairGroup .moreArrow { top: 4px; right: -20px; }


.panelForm .moreArrow {
	display: block; cursor: pointer;
	width: 15px; height: 15px;
	background: url(../images/styleImages/moreArrow.png) 0 -15px no-repeat;
	position: absolute
}
.panelForm .moreLines, .panelForm .morePairLines {
	color: #268fcc; margin-top: 10px;
	text-align: right;
} 
.panelForm .moreLines span, .panelForm .morePanelLines span {
	cursor: pointer;
}

.panelForm .isDefault { color: #cccccc; }

.rowMessage { 
	color: #fff; background-color: #4b3273;
	padding: 10px; margin-bottom: 15px; 
	position: relative;
	display: none;
}

.rowMessage h3 {
	font-family: "QuicksandBold"; font-weight: bold;
	color: #fff; font-size: 16px;
	margin-bottom: 5px; 
}

.rowMessage p { color: #a092b7; }
.rowMessage .closeButton {
 	background: url(../images/styleImages/button-x-white.png) 0 0 no-repeat;
 	width: 20px; height: 20px;
 	position: absolute; top: 5px; right: 5px;
 	opacity: .7;
 	cursor: pointer;
 }
 .rowMessage .closeButton:hover { opacity: 1; }

/* #################### INPUTS ################### */
/* styled via uniform.js */

.panelForm div.selector span { text-overflow: inherit; }
.panelForm .selector { width: 147px; }
.panelForm .selector span { width: 120px; }

.panelForm .radioList div.radio { float: left; }
.panelForm .radioList div.labelWrap { float: left; width: 140px; }


.panelForm .selector-45 .selector { width: 50px; }
.panelForm .selector-45 .selector span { width: 17px; }
.panelForm .selector-50 .selector { width: 55px; }
.panelForm .selector-50 .selector span { width: 28px; }

.panelForm .selector-90 .selector { width: 90px; }
.panelForm .selector-90 .selector span { width: 57px; }
.panelForm .selector-130 .selector { width: 130px; }
.panelForm .selector-130 .selector span { width: 97px; }

.save-cancel { margin-top: 15px; }
.save-cancel .btn { float: right; }
.save-cancel .btn.plain { margin-right: 10px; }

/* #################### PEOPLE SEARCH ################### */


#findPeople .resultRow {
	position: relative;
	background: url(../images/styleImages/hr.png) right bottom repeat-x;
	width: 100%;  margin-top: 30px; padding-left: 15px;
	min-height: 130px; height: auto !important; height: 130px;
	clear: both;
}

#findPeople .imageGroup {
	width: 160px; height: 130px;
	position: absolute; top: 0; left: 0;
}

#findPeople .imageGroup .mask {
	width: 107px; height: 107px;
	background: url(../images/styleImages/profile-image-ring.png) 0 0 no-repeat;
	position: absolute; top: 0px; left: 0;
}

#findPeople .imageGroup .profileImage {
	width: 91px; height: 91px;
	background: grey url(/not/set.png) 0 0 no-repeat;
	background-image: none;
	background-size: 100% 100%;
	position: absolute; top: 8px; left: 8px;
	border-radius: 45px;
}

#findPeople h2 {
	font-size: 30px;
	font-family: "QuicksandBold", sans-serif; font-weight: normal;
	margin-bottom: 0;
}

#findPeople .nameAndView {
	min-height: 130px; height: auto !important; height: 130px;
	float: none; margin-left: 160px;
}

#findPeople .nameAndView h2 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-family: "QuicksandBook"; font-weight: normal;
    cursor: pointer;
}

#findPeople .nameAndView h2:hover { text-decoration: underline; }

#findPeople .nameAndView .btn { margin: 15px 0;}

.infoRow { 
	display: block; float: none; 

	max-width: 990px; width: auto !important; width: 990px;
}

#findPeople .infoRow { max-width: 820px; width: auto !important; width: 820px; }
.infoRow td { }
.infoRow .infoGroup {
	
	
	padding: 10px 12px  8px 8px; 
	background: url(../images/styleImages/hr.png) top right repeat-y;
	color: #4b3273; width: auto;
}

.infoRow .infoGroup .text {
    
}

.infoRow .infoGroup b {
	font-family: "QuicksandBold", sans-serif;
}

.infoRow .vocation { }

.infoRow .location .text, .infoRow .education .text { margin-left: 35px;  }
.infoRow .location img { width: 25px; height: 25px; }
.infoRow .education img { width: 21px; height: 22px; }

.infoRow .infoGroup .padding {
	position: relative;
}


.infoRow .infoGroup:nth-of-type(1) .padding {
	margin-left: 0px;
}

.infoRow .infoGroup:last-of-type .padding {
	margin-right: 0;
}

.infoRow .infoGroup:first-of-type { 
	padding-left: 0;
}

.infoRow .infoGroup:last-of-type {
	background: none; padding-right: 0;
}

.infoRow .infoGroup img { position: absolute; top: -5px; left: 1px; }
.infoRow .infoGroup .text { }

#uniquenessModel{
	display:none;
}

#registrationForm{
	width:100%;
}

.link{
	color:#268FCC;
}

.largeRowHeight{
	height:80px;
}

.midRowHeight{
	height:25px;
}

#validationMessage, .error{
	margin-bottom:30px;
}




/* #################### UI CAROUSEL FEATURE #################### */

.sliderFinite {
	position: relative;
	min-height: 250px;
}

.sliderFinite .wrapper {
	width: 990px;
	overflow: auto;
	position: absolute;
	top: 0;
	min-height: 200px;
}

.carouselRow{
	width: 50000px;
	position: absolute;
	top: 0;
}

.moreaboutMe{
	min-height:250px;
}

.control-row { 
    position: relative;
    height: 25px; margin-top: 15px;
}

.control-row .arrow {
	display: inline-block;
	padding:0px;
	cursor: pointer;
	background-color:#ccc;
	position:relative;
	float: right; 
	
	text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}



.control-row  .back {
    margin-right: 7px;
    opacity: .4;
}

.control-row  .forward {
    
    width: 25px; height: 25px;
    background: url(../images/styleImages/arrow-purple-right.png) 0 0 no-repeat;
}

.control-row  .back {
    width: 25px; height: 25px;
    background: url(../images/styleImages/arrow-purple-left.png) 0 0 no-repeat;
}

.control-row .dots {
	display: inline-block;
	float: right; height: 25px; 
}


.control-row .dots .dot {
    width: 10px; height: 10px;
    background: #c7c4c0;
    border-radius: 5px;
    display: inline-block;
    margin: 8px 7px 0 0;
}

.control-row .dots .dot.active { background-color: #268fcc; }

.required{
	color:#FF0000;
	font-size:24px;
	font-weight:bold;
	display:inline-block;
}

#validationMessage p, .error{
	vertical-align:top;
}

/******** FONT TEST **********/

body.plain, body.plain #wrapper {
    background-image: none;
}

body.plain .pageContainer, body.plain #main { width: auto; }

#fonts { margin: 0px 30px; }

#fonts table { margin-bottom: 50px; }

#fonts table td { border-right: 1px solid #ccc; padding: 10px 15px; }

#fonts th { padding: 10px 15px; }

#fonts #quicksand td:nth-of-type(1) {
    font-family: "QuickSandBook";
    font-weight: normal;
    font-size: 30px;
    text-align: right;
}

#fonts #quicksand td:nth-of-type(2) {
    font-family: "QuickSandBook";
    font-weight: normal;
}

#fonts #quicksand td:nth-of-type(3) {
    font-family: "QuickSandBook";
    font-weight: bold;
}


#fonts #quicksand td:nth-of-type(4) {
    font-family: "QuickSandBold";
    font-weight: normal;
}

#fonts #quicksand td:nth-of-type(5) {
    font-family: "QuickSandBold";
    font-weight: bold;
}

#fonts #quicksand td:nth-of-type(6) {
    font-family: Arial;
    font-weight: normal;
}

#fonts #quicksand td:nth-of-type(7) {
    font-family: Arial;
    font-weight: bold;
}

/*****/

#fonts #muli td:nth-of-type(1) {
    font-family: "Muli";
    font-weight: normal;
    font-size: 30px;
    text-align: right;
}

#fonts #muli td:nth-of-type(2) {
    font-family: "Muli";
    font-weight: normal;
}

#fonts #muli td:nth-of-type(3) {
    font-family: "Muli";
    font-weight: bold;
}

#fonts #muli td:nth-of-type(4) {
    font-family: "Muli";
    font-weight: 300;
}

#fonts #muli td:nth-of-type(5) {
    font-family: "Muli";
    font-weight: 400;
}

#fonts #muli td:nth-of-type(6) {
    font-family: Arial;
    font-weight: normal;
}

#fonts #muli td:nth-of-type(7) {
    font-family: Arial;
    font-weight: bold;
}

/*****/

#fonts #istok td:nth-of-type(1) {
    font-family: 'Istok Web';
    font-weight: normal;
    font-size: 30px;
    text-align: right;
}

#fonts #istok td:nth-of-type(2) {
    font-family: 'Istok Web';
    font-weight: normal;
}

#fonts #istok td:nth-of-type(3) {
    font-family: 'Istok Web';
    font-weight: bold;
}

#fonts #istok td:nth-of-type(4) {
    font-family: 'Istok Web';
    font-weight: 400;
}

#fonts #istok td:nth-of-type(5) {
    font-family: 'Istok Web';
    font-weight: 700;
}

#fonts #istok td:nth-of-type(6) {
    font-family: Arial;
    font-weight: normal;
}

#fonts #istok td:nth-of-type(7) {
    font-family: Arial;
    font-weight: bold;
}

#fonts tr.s-40 { font-size: 40px; }
#fonts tr.s-30 { font-size: 30px; }
#fonts tr.s-20 { font-size: 20px; }
#fonts tr.s-16 { font-size: 16px; }
#fonts tr.s-14 { font-size: 14px; }
#fonts tr.s-13 { font-size: 13px; }
#fonts tr.s-12 { font-size: 12px; }
#fonts tr.s-11 { font-size: 11px; }
#fonts tr.s-10 { font-size: 10px; }
#fonts tr.s-9  { font-size: 9px; }
#fonts tr.s-8  { font-size: 8px; }

